/*---------------------------------------


Primary Styles


----------------------------------------*/
$grey: #272727;
$purple: #186e6b;
$drk-purple: #8a4d6f;

*, *::after, **::before{
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body{
  font-size: 1.6rem;
  font-family: sans-serif;
  color:white;
  background: $grey;
}

a{
  text-decoration: none;
}

/*---------------------------------------


Tooltip


----------------------------------------*/

section{
  width:100%;
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trigger{
  text-align: center;
  position: relative;
  background: $purple;
  width:200px;
  height:60px;
  display: inline-block;
  border-radius: 50em;
  color:white;
  box-shadow: 0 2px 20px rgba(0,0,0, .7), inset 0 1px 0 rgba(255,255,255, .2);

  &:hover{
    em{
      top: -100%;
    }
    i{
      top:0;
    }

    &::before, &::after{
      display: block;
      opacity: 1;
      visibility: visible;
    }
    &::before{
      bottom:80px;
    }
    &::after{
      bottom:60px;
    }
  }

  /* TOOLTIP */
  &::before, &::after{
    position: absolute;
    visibility: hidden;
    transition: all .3s;
    opacity: 0;
  }
  &::before{
    content: 'File Size: 50M';
    background: $drk-purple;
    width:140px;
    height:60px;
    border-radius: .25em;
    bottom:90px;
    line-height: 60px;
    //move left half minus the half the width of 140
    left:calc(50% - 70px);
  }

  /* Triangle */
  &::after{
    content:'';
    width:0;
    height:0;
    border:10px solid transparent;
    border-top-color: $drk-purple;
    left:calc(50% - 10px);
    bottom:70px;
  }
}

span, em, i {
  position: absolute;
  height:100%;
  width:100%;
  left:0;
}

em, i {
  transition: top .3s;
}

span{
  overflow: hidden;
}

em{
  top:0;
  line-height: 60px;
}

i{
  top:100%; //outside of button under it hidden
  background:url("../img/download.svg") no-repeat center center ;
}



