/*---------------------------------------


Primary Styles


----------------------------------------*/
*, *::after, **::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: sans-serif;
  color: white;
  background: #7c5f73;
}

a {
  text-decoration: none;
}

/*---------------------------------------


Menu Icon


----------------------------------------*/
section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background: #1c2332;
  width: 125px;
  height: 125px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  overflow: hidden;
  text-indent: 100%;
  color: transparent;
  white-space: nowrap;
}

.trigger span,
.trigger span::before,
.trigger span::after {
  position: absolute;
  width: 44px;
  height: 4px;
  background: white;
  border-radius: 4px;
}

.trigger span {
  top: calc(50% - 2px);
  left: calc(50% - 22px);
  -webkit-transition: -webkit-transform 0.3s ease;
  -moz-transition: -moz-transform 0.3s ease;
  transition: transform 0.3s ease;
}
.trigger span::before, .trigger span::after {
  content: '';
  left: 0;
  -webkit-transition: -webkit-transform 0.3s, width 0.3s;
  -moz-transition: -moz-transform 0.3s, width 0.3s;
  transition: transform 0.3s, width 0.3s;
}
.trigger span::before {
  bottom: 12px;
}
.trigger span::after {
  top: 12px;
}
.trigger:hover span {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.trigger:hover span::before {
  width: 50%;
  -webkit-transform: translateX(-2px) translateY(5px) rotate(-45deg);
  -moz-transform: translateX(-2px) translateY(5px) rotate(-45deg);
  -ms-transform: translateX(-2px) translateY(5px) rotate(-45deg);
  -o-transform: translateX(-2px) translateY(5px) rotate(-45deg);
  transform: translateX(-2px) translateY(5px) rotate(-45deg);
}
.trigger:hover span::after {
  width: 50%;
  -webkit-transform: translateX(-2px) translateY(-5px) rotate(45deg);
  -moz-transform: translateX(-2px) translateY(-5px) rotate(45deg);
  -ms-transform: translateX(-2px) translateY(-5px) rotate(45deg);
  -o-transform: translateX(-2px) translateY(-5px) rotate(45deg);
  transform: translateX(-2px) translateY(-5px) rotate(45deg);
}
